* {
    margin: 0;
    padding: 0;
}

:root {
    color: rgb(235, 235, 235);
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(44, 44, 44);
}

.HERO {
    margin-top: 2rem;
    align-items: center;
    text-align: center;
}

.HERO .main {
    font-size: 21px;
    font-weight: bold;
    transition: all 0.4s ease 0s;
}

.HERO .extra {
    font-size: 15px;
    font-weight: lighter;
    transition: all 0.3s ease 0s;
}

.HERO .main:hover {
    color: rgb(207, 0, 0);
    font-size: 25px;
}

.HERO .extra:hover {
    color: rgb(207, 0, 0);
    font-size: 19px;
}

.points-list {
    margin-top: 1rem;
    margin-left: 3rem;
    width: 30%;
}

.points {
    margin-bottom: 1rem;
}

.points-list p {
    margin-left: 0.5rem;
}