@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


/* Global */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

a {
    text-decoration: none;
}

:root {
    color: rgb(208, 208, 208);
}

body {
    background-color: black;
}

section {
    margin-top: 10px;
    margin-bottom: 10px;
}

#title {
    color: rgb(16, 16, 16);
    background-color: lime;
    font-size: 20px;
}

/* Nav's  */
.navigation {
    display: flex;
    list-style-type: none;
    margin-right: 5rem;
    flex-direction: row;
}

.nav-item, .nav-item a {
    text-decoration: none;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 10px 10px;
    transition: all 0.4s ease 0s;
    color: rgb(197, 197, 197);
}

.nav-item a:hover {
    color: lime;
}

.title{
    margin-top: 1.5rem;
    text-align: center;
    color: lime;
    font-size: 60px;
}





/* imgs */
img {
    max-width: 100%;
}


footer {
    background-color: rgb(44, 44, 44);
    color: white;
    padding: 10px 30px;
}


/* Kenmerken */

.kenmerk-list {
    list-style-type: none;
    padding: 0.7rem;
}

.kenmerk {
    font-size: 17px;
    padding: 3px;
}


/* footer */
footer .box {
    text-align: center;
    margin-right: 100px;
}

.socials a {
    color: rgb(237, 237, 237);
    font-size: 20px;
    transition: all .7s;
}

#IMPORTANT {
    text-transform: uppercase;
}

.socials a:hover {
    color: lime;
}

.socials a:not(:last-child) {
    margin-right: 10px;
}

